<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="cargo_bot_base">
    <link name="base_footprint" />

    <joint name="base_footprint_joint" type="fixed">
      <parent link="base_footprint" />
      <child link="base_link" />
      <origin xyz="0 0 0.23" rpy="0 0 0" />
    </joint>

    <link name="base_link" />

    <joint name="chassis_joint" type="fixed">
      <parent link="base_link" />
      <child link="chassis_link" />
      <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <link name="chassis_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="1.65 1.0 0.28" />
        </geometry>
        <material name="chassis_dark" />
      </visual>
    </link>

    <joint name="cargo_deck_joint" type="fixed">
      <parent link="base_link" />
      <child link="cargo_deck_link" />
      <origin xyz="-0.33 0 0.165" rpy="0 0 0" />
    </joint>

    <link name="cargo_deck_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.92 0.82 0.05" />
        </geometry>
        <material name="cargo_deck_blue" />
      </visual>
    </link>
  </xacro:macro>
</robot>
