<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="cargo_bot">
  <xacro:arg name="visual_mode" default="dev" />

  <xacro:include filename="$(find cargo_bot)/urdf/cargo_bot_inertial.xacro" />
  <xacro:include filename="$(find cargo_bot)/urdf/cargo_bot_materials.xacro" />
  <xacro:include filename="$(find cargo_bot)/urdf/cargo_bot_base.xacro" />
  <xacro:include filename="$(find cargo_bot)/urdf/cargo_bot_wheels.xacro" />
  <xacro:include filename="$(find cargo_bot)/urdf/cargo_bot_manipulator.xacro" />

  <xacro:property name="geometry" value="${xacro.load_yaml('$(find cargo_bot)/config/cargo_bot_geometry.yaml')}" />

  <xacro:cargo_bot_materials visual_mode="$(arg visual_mode)" />
  <xacro:cargo_bot_base geometry="${geometry}" />
  <xacro:cargo_bot_wheels geometry="${geometry}" />
  <xacro:cargo_bot_manipulator geometry="${geometry}" />
</robot>
