<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="cargo_bot_base" params="geometry">
    <link name="${geometry.frames.base_footprint}" />

    <joint name="base_footprint_joint" type="fixed">
      <parent link="${geometry.frames.base_footprint}" />
      <child link="${geometry.frames.base_link}" />
      <origin xyz="0 0 ${geometry.base.base_link_z}" rpy="0 0 0" />
    </joint>

    <link name="${geometry.frames.base_link}" />

    <joint name="chassis_joint" type="fixed">
      <parent link="${geometry.frames.base_link}" />
      <child link="chassis_link" />
      <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <link name="chassis_link">
      <xacro:box_inertial
        mass="${geometry.chassis.mass}"
        length="${geometry.chassis.length}"
        width="${geometry.chassis.width}"
        height="${geometry.chassis.height}" />
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="${geometry.chassis.length} ${geometry.chassis.width} ${geometry.chassis.height}" />
        </geometry>
        <material name="chassis_dark" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="${geometry.chassis.length} ${geometry.chassis.width} ${geometry.chassis.height}" />
        </geometry>
      </collision>
    </link>

    <joint name="cargo_deck_joint" type="fixed">
      <parent link="${geometry.frames.base_link}" />
      <child link="cargo_deck_link" />
      <origin xyz="${geometry.cargo_deck.x} ${geometry.cargo_deck.y} ${geometry.cargo_deck.z}" rpy="0 0 0" />
    </joint>

    <link name="cargo_deck_link">
      <xacro:box_inertial
        mass="${geometry.cargo_deck.mass}"
        length="${geometry.cargo_deck.length}"
        width="${geometry.cargo_deck.width}"
        height="${geometry.cargo_deck.height}" />
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="${geometry.cargo_deck.length} ${geometry.cargo_deck.width} ${geometry.cargo_deck.height}" />
        </geometry>
        <material name="cargo_deck_blue" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="${geometry.cargo_deck.length} ${geometry.cargo_deck.width} ${geometry.cargo_deck.height}" />
        </geometry>
      </collision>
    </link>
  </xacro:macro>
</robot>
